.PageHeader {
  background-color: #0ac775;
  color: #fff;
  padding: 4px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.PageHeader-title {
  margin: 0px;
  font-size: 20px;
  font-weight: normal;
}

.PageHeader-actionMenu {

}
