.PageHeader {
  background-color: #0ac775;
  color: #fff;
  padding: 4px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.PageHeader a,
.PageHeader a:link,
.PageHeader a:visited,
.PageHeader a:focus,
.PageHeader a:hover,
.PageHeader a:active {
  text-decoration: none;
  color: #fff;
}

.PageHeader-title {
  margin: 0px;
  font-weight: normal;
  text-align: center;
  font-size: inherit;
}

.PageHeader-actionMenu {

}
