.DashboardNumber {
}

.DashboardNumber-title {
  font-size: 18px;
  margin: 0px;
  text-transform: uppercase;
}

.DashboardNumber-value {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
